.left_col {
  background: rgb(17, 18, 18);
  color: white;
  width: 205px;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 100vh;
  text-align: center;
}

a{
  color: white;
}
.side-menu{
  padding: 0;
  width: 100%;
}

.right_col {
  padding: 10px 20px;
  margin-left: 200px;
}
.side-menu a{
  text-decoration: none;
  color: white;
}

li{
  border: white 1px solid ;
  width: 100%px;
  height:30px;
  margin-top: 15px;
  list-style: none;
  border-radius: 5px;
}

li:hover{
  background-color: rgb(80, 76, 76);
}
